@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');

@import "tailwindcss";

@plugin "tailwind-scrollbar";

@theme {
  --font-barriecito: 'Barriecito', sans-serif;
  --font-neucha: 'Neucha', sans-serif;
  --font-dokdo: 'Dokdo', sans-serif;
}

@utility text-shadow-md {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@utility text-shadow-lg {
	text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

@layer base {
	mark {
		@apply bg-current px-[1px] pb-0.5 font-extrabold text-stone-900 transition-colors duration-[1.25s] ease-in selection:bg-yellow-200 group-hover:bg-yellow-300;
	}
	mark[green] {
		@apply selection:bg-lime-200 group-hover:bg-lime-300;
	}
	mark[blue] {
		@apply selection:bg-sky-200 group-hover:bg-sky-300;
	}
	mark[orange] {
		@apply selection:bg-orange-200 group-hover:bg-orange-300;
	}
	mark[indigo] {
		@apply selection:bg-indigo-200 group-hover:bg-indigo-300;
	}
	mark[red] {
		@apply selection:bg-red-300 group-hover:bg-red-400;
	}
	mark[red] {
		@apply selection:bg-violet-300 group-hover:bg-violet-400;
	}
	p > mark {
		@apply bg-yellow-400 font-extrabold;
	}
	p > mark[green] {
		@apply bg-lime-300;
	}
	p > mark[blue] {
		@apply bg-sky-300;
	}
	p > mark[orange] {
		@apply bg-orange-400;
	}
	p > mark[indigo] {
		@apply bg-indigo-300;
	}
	p > mark[red] {
		@apply bg-red-400;
	}
	p > mark[violet] {
		@apply bg-violet-400;
	}
	b {
		@apply font-semibold;
	}
	br {
		@apply mb-3 block content-['_'];
	}
	spoiler span {
		@apply font-medium text-stone-900 transition-colors duration-[1.25s] ease-in;
	}
	p#prompt span {
		@apply font-medium;
	}

	/* clears the ‘X’ from text box */
	input[type='search']::-webkit-search-decoration,
	input[type='search']::-webkit-search-cancel-button,
	input[type='search']::-webkit-search-results-button,
	input[type='search']::-webkit-search-results-decoration {
		display: none;
	}
}

@layer components {
	spoiler {
		@apply cursor-default select-none flex-col space-y-3 bg-stone-900 p-4 text-stone-900 shadow-lg transition-colors duration-[1.25s] ease-in hover:text-white;
	}
}

@layer utilities {
	.accept {
		@apply group-hover:text-green-500/50;
	}
	p#prompt .accept {
		@apply text-green-600;
	}
	.decline {
		@apply group-hover:text-red-500/50;
	}
	p#prompt .decline {
		@apply text-red-500;
	}
	.offset {
		@apply group-hover:text-yellow-500/80;
	}
	p#prompt .offset {
		@apply text-yellow-500;
	}
	.open {
		@apply group-hover:text-sky-500/70;
	}
	p#prompt .open {
		@apply text-sky-600;
	}
	.closed {
		@apply group-hover:text-pink-500/70;
	}
	p#prompt .closed {
		@apply text-pink-600;
	}
}
